.page-content {
    padding: 100px 0; /* VERTICAL PADDING FOR TITLE ON EVERY PAGE */
}

.page-title {
    color: $theme-color;
    font-family: $heading-font; 
    font-size: $page-title;
    font-weight: 400;
    font-style: normal;
    line-height: 1;
}

.contacticon {
    display: block;
    font-size: 60px;
    margin: 10px;
}

.center{
    text-align: center;
}

@media only screen
and (max-device-width:576px){
    .page-content {
        padding: 100px 0 150px 0; /* VERTICAL PADDING FOR TITLE ON EVERY PAGE */
    }
}

