.syllabus {
    padding-top: 3rem;
}

.syllabus blockquote {
	border-left: 0px;
}

.syllabus blockquote, 
blockquote p {
    font-size: .8em;
    margin: 0.5rem 1.5rem 1rem 1.5rem;
}

.syllabus {
	counter-reset: h2; 
}

.syllabus h1 {
	font-family: $heading-font;
	color: $theme-color;
    font-size: $h1;
    margin-bottom: 1.5rem;
    padding: 0;
}

.syllabus h2 {
	font-family: $heading-font;
	color: $theme-color;
    font-size: $h2;
    margin-bottom: 1rem;
}

.syllabus h3 {
	font-family: $heading-font;
    font-size: $h3;
    margin-bottom: 1rem;
}

.syllabus h4 {
	font-family: $serif-font;
    font-size: $h2;
	font-style: italic;
}

.syllabus h5 {
	font-family: $serif-font;
	font-weight: normal;
    font-size: $h3;
    margin-top: 0rem;
    margin-bottom: 3rem;
}

.syllabus h6 {
	font-family: $heading-font;
    font-size: $h5;
	font-style: normal;
    font-weight: 400;
    line-height: 1.3;
    margin-top: 0rem;
}


h1:first-child {
	margin-top: 0px; 
}

h1 + h2 {
    margin-top: 1.5rem;
}

h1 + h3 {
    margin-top: 1rem;
}

h1 + h4 {
    margin-top: 1rem;
}

h1 + h5 {
    margin-top: 1rem;
}

h2 + h3 {
    margin-top: 1.5rem;
}

h2 + h4 {
    margin-top: 1rem;
}

h3 + h4 {
    margin-top: 1rem;
}

h4 + h3 {
    margin-top: 1rem;
}

.download-link {
	background-color: #fc6;
	width: 12rem;
    font-style: italic;
    font-size: 1.6rem;
	text-align: center;
    padding: 1rem;
    margin-top: 4rem;
}


@media only screen
and (max-device-width:576px){
    .syllabus {
        padding-top: 1rem;
    }
    .syllabus p {
        font-size: 1em;
    }
    .syllabus ul {
        font-size: 1em;
    }
    .syllabus h1 {
        font-size: $h1;
        margin-top: 3.2rem;
        margin-bottom: 1.3rem;
    }
    .syllabus h2 {
        font-size: $h2;
        margin-top: 2.6rem;
        margin-bottom: 0.8125rem;
    }
    .syllabus h3 {
        font-size: $h2;
        margin-top: 2.4rem;
        margin-bottom: 0.8125rem;
    }
    .syllabus h4 {
        font-size: $h3;
        margin-top: 2rem;
        margin-bottom: 0.8125rem;
    }
    .syllabus h5 {
        font-size: $h2;
        margin-top: 1.6rem;
        margin-bottom: 3rem;
    }
    .syllabus h6 {
        font-size: $h5;
        line-height: .8;
    }
}