---
layout: default
---

<div class="wrapper">
	<div class="post">

		<header class="note-header">
			<h1 class="note-header">{{ page.title }}</h1>

			{% if page.subtitle %}
			<h2 class="note-header">{{ page.subtitle }}</h2>
			{% endif %}

			{% if page.author %}
			<h3 class="note-header">{{ page.author }}</h3>
			{% endif %}

			{% if page.affiliation %}
			<h3 class="note-header">{{ page.affiliation }}</h3>
			{% endif %}

		</header>

		<article class="post-content {{page.title}} clearfix">
		<div class="note">
			{{ content }}
		</div>
		</article>

	</div>
</div>