---
layout: default
---
<div class="wrapper">
	<div class="post">

		<header class="post-header">

			<h1 class="post-header">{{ page.title }}{% if page.subtitle %}: {% endif %}</h1>

			{% if page.subtitle %}
			<h2 class="post-header">{{ page.subtitle }}</h2>
			{% endif %}

			{% if page.author %}
			<h3 class="post-header">{{ page.author }}</h3>
			{% endif %}

			{% if page.cite %}
			<h4 class="post-header">{{ page.cite }}</h3>
			{% endif %}

			{% if page.affiliation %}
			<h4 class="post-header">{{ page.affiliation }}</h3>
			{% endif %}

		</header>

		<article class="post-content {{page.title}} clearfix">
			{{ content }}
		</article>

	</div>
</div>